<!DOCTYPE html>
<html lang="en">
  <% include header %>

  <body>
    <% include navbar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3 text-info">Employee Records</h1>
        <%= message %>
        <p class=text-muted>
          This is a simple Node.js application for displaying employee records.
        </p>
      </div>
    </div>

    <div role="main" class="container" style="width: 60%">
      <br /><br />

      <% include list %>

      <br /><br />

      <% include footer %>
    </div>

    <% include scripts %>
  </body>
</html>
